body{
    background-color: #5892F6;
}

.form-control{
    border-radius: 60px 60px 60px 60px;
}

#textarea{
    border-radius: 20px 20px 20px 20px;
}
.btn-primary{
    background-color: #0045BB;
    border-radius: 60px 60px 60px 60px;
    padding: .375rem 2rem;
}
.link{
    color: #07079A;
}
a:not([href]){
    color: #07079A;
}

.logo{
    
    font-family: SF Pro Display;
    font-weight: bold;
    text-align: center;
}

.text{
    font-family: SF Pro Display;
    font-weight: medium;
    text-align: center;
    color: black;
    font-size: 19px;
}

.big{
    font-size: 25px;
}
.opaco{
     opacity: 50%;
}

.bg-white{
    border-radius: 20px 20px 20px 20px;
    padding: .375rem 2rem;
}

.non-effettuate .text{
    color: white;
}
.non-effettuate .bg-white{
    background-color: rgba(0,0,0,0) !important ; 
    border: 1px solid white;
}